In [1]:
import pandas as pd
import statsmodels.api as sm

### Carregar dados

In [2]:
votes = pd.read_csv('data\municipios_turno_2.csv')
comparecimento = pd.read_csv('data\eleicoes.csv')[['QT_APTOS','QT_COMPARECIMENTO', 'COD_TSE']].groupby(['COD_TSE']).sum()
comparecimento['Comparecimento'] = comparecimento['QT_COMPARECIMENTO']/comparecimento['QT_APTOS'] *100  
comparecimento.reset_index(inplace=True)
votes = votes.merge(comparecimento, on='COD_TSE', how='left')
votes.fillna(0, inplace=True)
votes.rename(columns = {'13%':'Haddad', '17%':'Bolsonaro'}, inplace=True)
votes.head()

,CD_GEOCMU,COD_TSE,UF,NM_MUNICIPIO,13,17,Haddad,Bolsonaro,QT_APTOS,QT_COMPARECIMENTO,Comparecimento
0,5200050,93360,GO,ABADIA DE GOIÁS,1928,4285,31.031708,68.968292,8373,6505,77.690195
1,3100104,40010,MG,ABADIA DOS DOURADOS,1821,2117,46.241747,53.758253,5772,4548,78.794179
2,5200100,92010,GO,ABADIÂNIA,1781,5204,25.497495,74.502505,9077,7477,82.373031
3,1500107,4014,PA,ABAETETUBA,61646,19896,75.600304,24.399696,107389,87656,81.624747
4,3100203,40037,MG,ABAETÉ,4289,7581,36.133109,63.866891,18605,13635,73.286751

### Fitting Multilevel Modeling

In [ ]:
turnout_model = sm.MixedLM.from_formula("Bolsonaro ~ QT_COMPARECIMENTO", groups="UF", data=votes)
turnout_model = turnout_model.fit()
prediction = turnout_model.predict(votes['QT_COMPARECIMENTO'])
rmse = sm.tools.eval_measures.rmse(votes['Bolsonaro'], prediction)
print(rmse)
turnout_model.summary()

### Fitting Linear Regression

In [6]:
mod = sm.OLS(votes['Bolsonaro'], votes['QT_COMPARECIMENTO'])
mod = mod.fit()
prediction = mod.predict(votes['QT_COMPARECIMENTO'])
rmse = sm.tools.eval_measures.rmse(votes['Bolsonaro'], prediction)
print(rmse)

49.50848703506979